name: Build

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Change directory to Android SampleModule
        run: cd ./SampleModule/gradle/wrapper/

      - name: Build Debug configuration
        uses: gradle/gradle-build-action@v2.1.3
        with:
            arguments: assembleDebug
